html:root{
    --dark: #1d1d1d;
    --white: #ffffff;
    --grey-light: #f5f5f5;
    --cyan: rgb(16,201,195);
}



/* header */




.navbar-light .navbar-nav .nav-link.active{
    color: var(--cyan)
}


.col-5{
    padding-left: 73px;
}

.btn{
    border-radius: 0;
}
.btn-primary{
    background-color: var(--cyan);
    border-color: var(--cyan);
}
.btn-primary:hover{
    background-color:var(--cyan);
    border-color: var(--cyan);
}
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: var(--cyan);
    border-color: var(--cyan);
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(16, 201, 195, 0.50);
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgba(16, 201, 195, 0.50);
}

